.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
  }

button{
    width: 210px;
    height: 40px;
    text-align: center;font-family: 'Open Sans Condensed', sans-serif;
}

#staff-container{
    margin: 0px 10px;
    padding-bottom: 2em;
}

h2{
    white-space: nowrap;
}


.profile{
    max-width: 250px;
    max-height: 250px;
    height: auto;
    width: auto;
    margin-top:.5em;
    margin-bottom:.25em;
}

.title{
    color: #646464;
    font-size: .90em;
    margin-top: -1px;
    margin-bottom: 0px;
}

.pronouns{
    color: grey;
    margin-top: -2px;
    font-size: .85em;
}

.alias{
    color: lightslategray;
    font-size:.85em;
    font-style: italic;
}

.social{
    padding-bottom:.5em;
    min-width: 64px;
    min-height: 64px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


.about{
      font-size:.85em;
      margin-top:1px;
      margin-bottom:0px;
      white-space: pre-wrap;
  }

.favourite{
    font-size:.85em;
    margin-top:1px;
    margin-bottom:2px;
    white-space: pre-wrap;
    padding-top:.5em;
    padding-bottom: .25em;
}



.logo{
    border: none;
    min-width: 1.5em;
    min-height: 1.5em;
}