@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #333333;
  text-align: center;font-family: 'Open Sans Condensed', sans-serif;
  overflow-x:hidden;
  max-width: 100%;
}

#banner{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#outPopUp {
    margin-right: auto;
    margin-left: auto;
  background: white;
  -webkit-box-shadow: -2px 0px 38px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 38px 3px rgba(0,0,0,0.75);
box-shadow: -2px 0px 38px 3px rgba(0,0,0,0.75);
text-align: center;font-family: 'Open Sans Condensed', sans-serif;
font-size: 1.25em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.under-construction {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#banner{
    height: 12em;
    margin-left: auto;
  margin-right: auto;
  display:block;
}

#container button{
    width: 210px;
    height: 40px;
    text-align: center;font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 2em;
}

button{
    margin-bottom: .5em;
}

.shadow{
    border-radius: 8px 8px 8px 8px;
-moz-border-radius: 8px 8px 8px 8px;
-webkit-border-radius: 8px 8px 8px 8px;
border: 0px solid #000000;
    -webkit-box-shadow: -4px 14px 24px -13px rgba(0,0,0,0.53);
-moz-box-shadow: -4px 14px 24px -13px rgba(0,0,0,0.53);
box-shadow: -4px 14px 24px -13px rgba(0,0,0,0.53);
    
}


.swapable{
    background-color: #9EE1B7;
    color:#333333;
}

.swapable-background{
    background-color: #9EE1B7;
}


#container{
    text-align: center;
    padding-bottom: .5em;
    
}

.bg{
    position: absolute;
    display:block;
    width:100%; height:100%;
    object-fit: cover;
}

.swap-link{
    text-decoration: none;
    color: #9EE1B7;
}

.swap-link:hover{
    text-decoration:none;
    color:currentColor;
    

}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }