@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
html,
body {
  height: 100%;
  width: 100%;
  display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.under-construction {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.bg_landing{
    position: absolute;
    display:block;
    width:100%; height:100%;
    object-fit: cover;
}
.bg_landing:nth-of-type(2){
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.banner{
    height: 12em;
    margin-left: auto;
  margin-right: auto;
  display:block;
}

#outPopUp {
    margin-right: auto;
    margin-left: auto;
  background: white;
  -webkit-box-shadow: -2px 0px 38px 3px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 38px 3px rgba(0,0,0,0.75);
box-shadow: -2px 0px 38px 3px rgba(0,0,0,0.75);
text-align: center;font-family: 'Open Sans Condensed', sans-serif;
font-size: 1.25em;
}

#button1{
    width: 300px;
    height: 40px;
    background-color: #9EE1B7;
    text-align: center;font-family: 'Open Sans Condensed', sans-serif;
}
#button2{
    width: 300px;
    height: 40px;
    background-color: #9EE1B7;
    text-align: center;font-family: 'Open Sans Condensed', sans-serif;
}
#container{
    text-align: center;
    padding-bottom: .5em;
    
}