<div id="landing-page" class="h-100 w-100 d-flex flex-row justify-content-center">
  <div class="h-100 col-12 col-md-8 d-flex flex-column justify-content-center">
    <mat-card>
      <mat-card-header class="w-100 flex-column justify-content-center">
        <mat-card-title class="d-flex flex-row justify-content-center">
          <img
            class="img-fluid"
            style="max-height: 30vh;"
            src="../../assets/images/banners/0.png"
            title="Victory Mag Banner"
            alt="Victory Mag Banner"
          />
        </mat-card-title>
        <mat-card-subtitle class="d-flex flex-row justify-content-center">
          <p class="text-center" style="font-size: 1.5em;">
            A BNHA fanzine dedicated to the future shenanigans and hijinks of the UA High Kids.
          </p>
        </mat-card-subtitle>
        <button class="btn btn-outline-primary w-50 align-self-center d-flex flex-row justify-content-center" (click)="navigateToMain()">
          <span>Continue to Site</span>
          <i class="fas fa-arrow-alt-circle-right align-self-center ml-2"></i>
        </button>
      </mat-card-header>
    </mat-card>
  </div>
</div>
